/*  */
.gap1 div img {
    width: 70px;
}

.gap1 div div * {
    display: inline-block;
    font-weight: bold;
}

/* chart css */
.sec3 {
    height: 47vh;
}

.tbl {
    height: calc(100% - 40px);
    overflow-x: scroll;
    position: relative;
    padding-left: 20px;
    padding-bottom: 40px;
}

.tbl::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.tbl::-webkit-scrollbar-track {
    background-color: #fff;
}
.tbl::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tbl > div {
    width: 30px;
    background-color: #0a121d;
    margin-right: 4px;
    min-width: 30px;
}

.tbl > div:nth-child(6), .tbl > div:nth-child(7), .tbl > div:nth-child(8), .tbl > div:nth-child(9), .tbl > div:nth-child(10), .tbl > div:nth-child(11), .tbl > div:nth-child(12), .tbl > div:nth-child(13), .tbl > div:nth-child(14), .tbl > div:nth-child(15), .tbl > div:nth-child(16), .tbl > div:nth-child(17), .tbl > div:nth-child(18) {
    background-color: #17273a;
}

.tbl > div:nth-child(1), .tbl > div:nth-child(2), .tbl > div:nth-child(2), .tbl > div:nth-child(22), .tbl > div:nth-child(23), .tbl > div:nth-child(24) {
    display: none;
}

.tbl > div.act::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 1px;
    background-color: #fff;
    top: 0;
    margin-left: 15px;
}

.tbl > div > div {
    text-align: center;
}

.tbl > div > div:nth-child(2),.tbl > div > div:nth-child(4) {
    background-color: #000;
    font-size: 12px;
    padding: 2px;
}

.tbl > div > div:nth-child(3) {
    height: 12%;
}
.tbl > div > div:nth-child(3) span {
    transform: rotate(-225deg);
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.tbl > div > div:nth-child(3) span.lv2 {
    bottom: 20%;
}
.tbl > div > div:nth-child(3) span.lv3 {
    bottom: 30%;
}
.tbl > div > div:nth-child(3) span.lv4 {
    bottom: 40%;
}
.tbl > div > div:nth-child(3) span.lv5 {
    bottom: 50%;
}
.tbl > div > div:nth-child(3) span.lv4 i, .tbl > div > div:nth-child(3) span.lv5 i {
    font-size: 130%;
}
.tbl > div > div:nth-child(5) {
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.line-chart {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    width: 665px !important;
    margin: 0 !important;
    background-color: transparent !important;
}
.wicon {
    padding: 2px;
}
.bl {
    color: #03f8f0;
}
.yl {
    color: #fcc739;
}
.wind {
    position: relative;
}s
/* .wind i {
    position: absolute;
    bottom: 1%;
    left: 0;
} */