/* header */
header .wrap {
    height: 10vh;
    background-color: #06101c;
}

header .wrap .slick-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .wrap .slick-slide * {
    margin: 0;
}

/* main */
main .wrap {
    height: 84vh;
}
.sec1 {
    padding: 10px;
}
.sec1 > div *:not(big) {
    display: block;
}
.gap1 > div {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    background-color: #1d2c3f;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}

.sec1 strong {
    font-size: 25px;
}

.sec1 strong big {
    font-size: 150%;
}

/* footer */
footer .wrap {
    height: 6vh;
    background-color: #07192d;
}