/* header */
header .wrap {
    height: 10vh;
    background-color: #06101c;
}

header .wrap .slick-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .wrap .slick-slide * {
    margin: 0;
}

/* main */
main .wrap {
    height: 84vh;
}
.sec1 {
    padding: 10px;
    height: 12vh;
}
.sec1 > div *:not(big) {
    display: block;
}
.gap1 > div {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    background-color: #1d2c3f;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}

.sec1 strong {
    font-size: 25px;
}

.sec1 strong big {
    font-size: 150%;
}

.sec2 {
    height: 12vh;
}

.sec3 {
    height: 50vh;
}

.tbl {
    height: 100%;
    overflow-x: scroll;
}

.tbl::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.tbl::-webkit-scrollbar-track {
    background-color: darkgrey;
}
.tbl::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tbl > div {
    width: 20px;
    background-color: #0a121d;
    margin-right: 5px;
}

.tbl > div > div:nth-child(3) {
    height: 12%;
}
.tbl > div > div:nth-child(5) {
    height: 74%;
}
/* footer */
footer .wrap {
    height: 6vh;
    background-color: #07192d;
}